/* .App {
  text-align: center;
  background-color:#f3d8a0;
} */


/* img {
  -webkit-box-shadow: 7px 10px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 10px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 10px 11px 0px rgba(0, 0, 0, 0.75);
  max-width: 100%;
} */

/* .my-photo {
  max-width: 20%;
} */






