.app-container {
  display: flex;
  justify-content: center;
}
.landing-page-container {
  margin: 1% 0% 5% 5%;
  height: 85vh;
  width: 100%;
  max-width: 720px;
  padding: 5%;
  display: flex;
  font-family: 'Special Elite', cursive;
  background-color: #fee1a7;
  justify-content: flex-end;
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.2);
  background-image: url('components/images/portfolio-resume-folder-score-lines.png'), url('components/images/portfolio-resume-folder-score-lines.png'), url('components/images/portfolio-resume-coffee-stain.jpg');
  background-position: 10% center, 15% center, left bottom;
  background-repeat: repeat-y, repeat-y, no-repeat;
}
.vertical-menu {
  display: flex;
  flex-direction: column;
  margin-top: 92px;
  margin-left: -18px;
}
.vertical-menu a {
  font-family: 'Special Elite', cursive;
  font-size: 20px;
  background-color: #e7c98c;
  text-decoration: none;
  text-align: center;
  color: black;
  padding-right: 40px;
  padding-left: 30px;
  margin-bottom: 121px;
  margin-left: -32px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  transform: rotate(90deg);
}
.vertical-menu a p {
  transition-property: transform;
  transition-duration: 0.1s;
}
.vertical-menu a:hover p {
  transform: scale(1.1);
}
.name-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.name-info-container .front-title {
  color: #b40302;
  text-align: center;
}
.name-info-container .front-title span {
  font-size: 42px;
}
.name-info-container .front-title p {
  margin: -7px 0px 0px;
}
.name-info-container .name-info {
  background-color: black;
  color: #dbdbdb;
  padding: 10px;
  margin: 0.5px;
}
.name-info-container .front-name {
  transform: rotate(-1deg);
}
.name-info-container .email {
  transform: rotate(2deg);
  transition-property: transform;
  transition-duration: 0.24s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.name-info-container .email:hover {
  transform: rotate(-4deg);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.name-info-container .email a {
  text-decoration: none;
  color: #dbdbdb;
}
