.app-container {
  display: flex;
}
.landing-page-container {
  display: flex;
  height: 100vh;
  font-family: 'Special Elite', cursive;
  background-color: #f3d8a0;
  background-image: url('components/images/portfolio-resume-folder-score-lines.png'), url('components/images/portfolio-resume-folder-score-lines.png'), url('components/images/portfolio-resume-coffee-stain.jpg'), url('components/images/portfolio-resume-transparent-bg.png');
  background-size: contain;
  background-position: 10% center, 15% center, left bottom, center;
  background-repeat: no-repeat;
}
.vertical-menu {
  display: flex;
  flex-direction: column;
}
.vertical-menu a {
  background-color: #e7c98c;
  text-decoration: none;
  color: black;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 3px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.vertical-menu a p {
  transform: rotate(90deg);
}
.front-title {
  color: #b40302;
}
.name-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px 10px 150px;
}
.name-info-container .name-info {
  background-color: black;
  color: #dbdbdb;
  padding: 10px;
}
