.landing-page-container {
  display: flex;
  height: 100vh;
  font-family: 'Special Elite', cursive;
}
.vertical-menu {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.vertical-menu a {
  background-color: #e7c98c;
  text-decoration: none;
  color: black;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 3px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.vertical-menu a p {
  transform: rotate(90deg);
}
.front-title {
  color: #b40302;
}
.name-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30%;
  background-color: #f3d8a0;
}
.name-info-container .name-info {
  background-color: black;
  color: #dbdbdb;
  padding: 10px;
  margin: 0px 20px 10px 20px;
}
