.portfolio-container {
    margin: 1% 0% 5% 5%;
    width: 100%;
    max-width: 100%;
    // border: 1px solid grey;
    padding: 5%;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);

    .portfolio-piece {
        border-bottom: 1px solid grey;
        padding: 40px;
        margin: 10px 0px 30px 0px;
    }
    img {
        box-shadow: 2px 4px 5px 1px rgba(0, 4, 0, 0.2);
        max-width: 720px;
    }
}
