h1, h3 {
    font-family: 'Special Elite', cursive;
}

.resume-container {
    margin: 10%;
    .resume-contact-info {
        text-align: center;
    }
    .resume-skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 10%;
        h2 {
            color: white;
            background-color: black;
            margin: 5px;
            padding: 10px;
        }
    }
    .resume-job-title {
        background-color: black;
        color: white;
    
    }
}